<html>
  <body>
    <form action="/add_word" method="POST">
      <label for="word">Word:</label>
      <input type="text" name="word">
      <label for="definition">Definition:</label>
      <input type="text" name="definition">
      <input type="submit">
    </form>
  </body>
</html>
