<html>
  <body>
    <h1>This is a custom dictionary that you can add your own words and phrases to</h1>
    <p>Try looking up <a href="/lookup/<%= @sample %>"><%= @sample %></a></p>
    <p>Try <a href="/add">adding more words</a></p>
  </body>
</html>
