<html>
  <head></head>
  <body>
    <h1>Please input two similar strings of text</h1>
    <form action="/compare" method="POST">
      <p>
        <label for="text_a">Text A</label>
        <textarea type="text" name="text_a" rows="5">
line 1
line 2
line 3
        </textarea>
      </p>
      <p>
        <label for="text_b">Text B</label>
        <textarea type="text" name="text_b" rows="5">
line 1
line 2 is changed
line 3
        </textarea>
      </p>
      <p>
        <input type="submit"/>
      </p>
    </form>
  </body>
</html>
