<html>
  <body>
    <h1>Here are Some Pokemon to Try!</h1>
    <a href="/25">Pikachu</a>
    <a href="/151">Mew</a>
    <a href="/6">Charizard</a>

    <h1>For your Reference:</h1>
    <a href="http://bulbapedia.bulbagarden.net/wiki/List_of_Pok%C3%A9mon_by_National_Pok%C3%A9dex_number">All Pokemon</a>
  </body>
</html>
